.part {
  background-color: #AAFFFF;
  margin: 10px;
  padding: 0 10px;
}
.footer {
  margin: 10px;
}

.body.wide {
  display: flex;
}
.description.wide {
  width: 20%;
}
.main.wide {
  display: flex;
}

.data.narrow {
  width: 80%;
  max-height: 400px;
  overflow: scroll;
}
.data table {
  border-collapse: collapse;
}
.data th:first-child {
  border-right: 1px solid;
}
.data td:first-child {
  text-align: right;
  border-right: 1px solid;
}
.data th {
  border-bottom: 1px solid;
}
.data th > input {
  font-weight: bold;
}
.data input {
  border: none;
  text-align: center;
}